<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="com.zx.domain.TOrder">
    <!--@mbg.generated-->
    <!--@Table t_order-->
    <id column="oid" property="oid" />
    <result column="pid" property="pid" />
    <result column="cid" property="cid" />
    <result column="hid" property="hid" />
    <result column="hotelname" property="hotelname" />
    <result column="hoteladdress" property="hoteladdress" />
    <result column="ordertime" property="ordertime" />
    <result column="wedding_time" property="weddingTime" />
    <result column="wedding_split" property="weddingSplit" />
    <result column="deposit" property="deposit" />
    <result column="money" property="money" />
    <result column="status" property="status" />
    <result column="comment" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    oid, pid, cid, hid, hotelname, hoteladdress, ordertime, wedding_time, wedding_split, 
    deposit, money, `status`, `comment`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_order
    where oid = #{oid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_order
    where oid = #{oid}
  </delete>
  <insert id="insert" keyColumn="oid" keyProperty="oid" parameterType="com.zx.domain.TOrder" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_order (pid, cid, hid, hotelname, hoteladdress, ordertime, wedding_time, 
      wedding_split, deposit, money, `status`, `comment`)
    values (#{pid}, #{cid}, #{hid}, #{hotelname}, #{hoteladdress}, #{ordertime}, #{weddingTime}, 
      #{weddingSplit}, #{deposit}, #{money}, #{status}, #{comment})
  </insert>
  <insert id="insertSelective" keyColumn="oid" keyProperty="oid" parameterType="com.zx.domain.TOrder" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="hid != null">
        hid,
      </if>
      <if test="hotelname != null">
        hotelname,
      </if>
      <if test="hoteladdress != null">
        hoteladdress,
      </if>
      <if test="ordertime != null">
        ordertime,
      </if>
      <if test="weddingTime != null">
        wedding_time,
      </if>
      <if test="weddingSplit != null">
        wedding_split,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="comment != null">
        `comment`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid},
      </if>
      <if test="cid != null">
        #{cid},
      </if>
      <if test="hid != null">
        #{hid},
      </if>
      <if test="hotelname != null">
        #{hotelname},
      </if>
      <if test="hoteladdress != null">
        #{hoteladdress},
      </if>
      <if test="ordertime != null">
        #{ordertime},
      </if>
      <if test="weddingTime != null">
        #{weddingTime},
      </if>
      <if test="weddingSplit != null">
        #{weddingSplit},
      </if>
      <if test="deposit != null">
        #{deposit},
      </if>
      <if test="money != null">
        #{money},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="comment != null">
        #{comment},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.domain.TOrder">
    <!--@mbg.generated-->
    update t_order
    <set>
      <if test="pid != null">
        pid = #{pid},
      </if>
      <if test="cid != null">
        cid = #{cid},
      </if>
      <if test="hid != null">
        hid = #{hid},
      </if>
      <if test="hotelname != null">
        hotelname = #{hotelname},
      </if>
      <if test="hoteladdress != null">
        hoteladdress = #{hoteladdress},
      </if>
      <if test="ordertime != null">
        ordertime = #{ordertime},
      </if>
      <if test="weddingTime != null">
        wedding_time = #{weddingTime},
      </if>
      <if test="weddingSplit != null">
        wedding_split = #{weddingSplit},
      </if>
      <if test="deposit != null">
        deposit = #{deposit},
      </if>
      <if test="money != null">
        money = #{money},
      </if>
      <if test="status != null">
        `status` = #{status},
      </if>
      <if test="comment != null">
        `comment` = #{comment},
      </if>
    </set>
    where oid = #{oid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.domain.TOrder">
    <!--@mbg.generated-->
    update t_order
    set pid = #{pid},
      cid = #{cid},
      hid = #{hid},
      hotelname = #{hotelname},
      hoteladdress = #{hoteladdress},
      ordertime = #{ordertime},
      wedding_time = #{weddingTime},
      wedding_split = #{weddingSplit},
      deposit = #{deposit},
      money = #{money},
      `status` = #{status},
      `comment` = #{comment}
    where oid = #{oid}
  </update>
</mapper>